@model AuthorListViewModel

<h1>@Model.PageTitle</h1>

<p>Total authors: <strong>@Model.TotalCount</strong></p>

@if (Model.Authors == null || Model.Authors.Count == 0)//problem line
{
    <p><em>@Model.EmptyMessage</em></p>
}
else
{
    <ul>
        @foreach (var author in Model.Authors)
        {
            <partial name="_AuthorCard" model="author" />
        }
    </ul>
}